/* Primary Stylings */

body {
    background-image: url('background.png');
    background-repeat: repeat;
}

/* Matchbar Stylings */

.matchbar-container {
	
}

svg {
	width: 100%;
	height: 100%;
}

.matchslit {
	width: 100%;
	height: 20%;
}

.category-qt {
	fill: #ffffff;
	opacity: 1.0;
}

.category-pt {
	fill: #ffffff;
	opacity: 1.0;
}

.category-woa {
	fill: #ffffff;
	opacity: 1.0;
}

.category-rg {
	fill: #ffffff;
	opacity: 1.0;
}

.category-aos {
	fill: #ffffff;
	opacity: 1.0;
}

