/* Primary Stylings */

body {
    background-image: url('background.png');
    background-repeat: repeat;
}

/* Matchbar Stylings */

.matchbar-container {
	padding: 5px;
}

.matchbar {
	width: 100%;
	height: 100%;
}

.matchslit {
	/* NOTE: Sizing Styles in Drawing Functionality */
}

.matchlist-tooltip {
	font-size: 12px;
	font-family: ;
	font-weight: 100;

	color: #ffffff;
    background-color: #49444a;
}

.matchslit-yes {
	opacity: 0.7;
}

.matchslit-no {
	opacity: 0.4;
}

.category-qt {
	fill: #fff100;
}

.category-pt {
	fill: #ff567f;
}

.category-woa {
	fill: #01e753;
}

.category-rg {
	fill: #e60113;
}

.category-aos {
	fill: #da66ff;
}

